In [ ]:
final_dataset_process

In [ ]:
使用之前处理一下——补充第一个table的内容；存档一份简约版的dataset

In [ ]:
数据集B

In [1]:
import numpy as np
import pandas as pd

In [3]:
table1_16 = pd.read_csv('dataset_B_for_model_method/final_dataset/complete_dataset_1_16.csv')
table8_23 = pd.read_csv('dataset_B_for_model_method/final_dataset/complete_dataset_8_23.csv')
table15_30 = pd.read_csv('dataset_B_for_model_method/final_dataset/complete_dataset_15_30.csv')

E:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,2,16,17,18,44,45,46,47,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
发现个问题，第一个table的信息没有加进来，加入进来

In [4]:
user_register_log = pd.read_csv('dataset_B/user_register_log.csv')

In [ ]:
注意，这三个table的用户的分布都是从1开始的，特征时段如名字

In [5]:
reg1_16 = user_register_log[user_register_log['register_day'] < 17]
reg8_23 = user_register_log[user_register_log['register_day'] < 24]
reg15_30 = user_register_log

In [6]:
table1_16 = pd.merge(table1_16,reg1_16,how = 'outer')
table8_23 = pd.merge(table8_23,reg8_23,how = 'outer')
table15_30 = pd.merge(table15_30,reg15_30,how = 'outer')

In [7]:
table1_16.columns

Index(['user_id', 'app_launch_day', 'launch_gap_list', 'launch_day_near_pred',
       'launch_day_sum', 'launch_day_sum_average', 'launch_day_gap_max',
       'launch_day_gap_ain', 'launch_day_gap_average', 'launch_day_gap_std',
       ...
       'act_author_count_average', 'act_author_count_max',
       'act_author_count_max_ratio', 'act_author_count_std',
       'act_author_count_skew', 'act_author_count_kurtosis', 'y',
       'register_day', 'register_type', 'device_type'],
      dtype='object', length=107)

In [8]:
table1_16.head()

,user_id,app_launch_day,launch_gap_list,launch_day_near_pred,launch_day_sum,launch_day_sum_average,launch_day_gap_max,launch_day_gap_ain,launch_day_gap_average,launch_day_gap_std,...,act_author_count_average,act_author_count_max,act_author_count_max_ratio,act_author_count_std,act_author_count_skew,act_author_count_kurtosis,y,register_day,register_type,device_type
0,8,"[9.0, 10.0, 11.0, 13.0]","[1.0, 1.0, 2.0]",3.0,4,0.80,2.0,1.0,1.333333,0.471405,...,1.600000,7.0,0.072917,1.280625,2.586390,6.403331,1.0,9,0,34
1,73,"[2.0, 4.0, 5.0]","[2.0, 1.0]",11.0,3,0.75,2.0,1.0,1.500000,0.500000,...,2.266667,10.0,0.294118,2.619584,2.044814,2.826957,0.0,2,1,947
2,129,[12.0],[-1],4.0,1,1.00,-1.0,-1.0,-1.000000,-1.000000,...,1.000000,1.0,1.000000,0.000000,0.000000,-3.000000,1.0,12,1,43
3,228,[13.0],[-1],3.0,1,1.00,-1.0,-1.0,-1.000000,-1.000000,...,22.000000,22.0,1.000000,0.000000,0.000000,-3.000000,1.0,13,2,13
4,351,[3.0],[-1],13.0,1,1.00,-1.0,-1.0,-1.000000,-1.000000,...,3.744681,31.0,0.176136,5.777683,3.471943,12.324511,0.0,3,1,2042

In [ ]:
完整版本存档

In [9]:
table1_16.to_csv('dataset_B_for_model_method/final_dataset/complete_dataset_1_16.csv',index = False)
table8_23.to_csv('dataset_B_for_model_method/final_dataset/complete_dataset_8_23.csv',index = False)
table15_30.to_csv('dataset_B_for_model_method/final_dataset/complete_dataset_15_30.csv',index = False)

In [ ]:
将list类的特征丢弃掉

In [10]:
drop_list = [
    'app_launch_day','launch_gap_list','video_create_day','video_day_gap_list','video_create_day_count',
    'activity_day','act_day_gap_list','activity_count','act_count_gap_list',
    'author_list','author_video_count_list'
]

In [11]:
table1_16.drop(drop_list,axis = 1,inplace = True)
table8_23.drop(drop_list,axis = 1,inplace = True)
table15_30.drop(drop_list,axis = 1,inplace = True)

In [12]:
table1_16.shape

(23923, 96)

In [13]:
table1_16.head()

,user_id,launch_day_near_pred,launch_day_sum,launch_day_sum_average,launch_day_gap_max,launch_day_gap_ain,launch_day_gap_average,launch_day_gap_std,launch_day_gap_skew,launch_day_gap_kurtosis,...,act_author_count_average,act_author_count_max,act_author_count_max_ratio,act_author_count_std,act_author_count_skew,act_author_count_kurtosis,y,register_day,register_type,device_type
0,8,3.0,4,0.80,2.0,1.0,1.333333,0.471405,0.707107,-1.5,...,1.600000,7.0,0.072917,1.280625,2.586390,6.403331,1.0,9,0,34
1,73,11.0,3,0.75,2.0,1.0,1.500000,0.500000,0.000000,-2.0,...,2.266667,10.0,0.294118,2.619584,2.044814,2.826957,0.0,2,1,947
2,129,4.0,1,1.00,-1.0,-1.0,-1.000000,-1.000000,-99.000000,-99.0,...,1.000000,1.0,1.000000,0.000000,0.000000,-3.000000,1.0,12,1,43
3,228,3.0,1,1.00,-1.0,-1.0,-1.000000,-1.000000,-99.000000,-99.0,...,22.000000,22.0,1.000000,0.000000,0.000000,-3.000000,1.0,13,2,13
4,351,13.0,1,1.00,-1.0,-1.0,-1.000000,-1.000000,-99.000000,-99.0,...,3.744681,31.0,0.176136,5.777683,3.471943,12.324511,0.0,3,1,2042

In [ ]:
简约版存档

In [14]:
table1_16.to_csv('dataset_B_for_model_method/final_dataset/dataset_1_16.csv',index = False)
table8_23.to_csv('dataset_B_for_model_method/final_dataset/dataset_8_23.csv',index = False)
table15_30.to_csv('dataset_B_for_model_method/final_dataset/dataset_15_30.csv',index = False)